.form-container{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background:linear-gradient(50deg, rgb(32, 19, 32),rgb(225, 208, 249));
    background-size: cover;
    background-position: center;
}
.form-box-container{
    position: relative;
    background: rgba(255,255,255,.1 );
    backdrop-filter:blur(30px) ;
    border: 2px solid rgba(255,255,255,.2 );
    border-radius: 16px;
    padding: 20px;
    color: #fff;
}
.Inputs{ 
    background: transparent;
    border: 2px solid rgba(255,255,255,.2 );
    outline: none;
    color: white;
}
#btn-div{
    margin: 2em 0em 0em;
}