.form-container{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background:linear-gradient(50deg, rgb(92, 3, 92),rgb(162, 91, 255));
    background-size: cover;
    background-position: center;
}
.form-box-container{
    position: relative;
    width: 400px;
    height: auto;
    background: rgba(255,255,255,.1 );
    backdrop-filter:blur(30px) ;
    border: 2px solid rgba(255,255,255,.2 );
    border-radius: 16px;
    padding: 20px;
    color: #fff;
}
.Inputs{ 
    background: transparent;
    border: 2px solid rgba(255,255,255,.2 );
    outline: none;
    color: white;
}
#btn-div{
    margin: 2em 0em 0em;
}
.back-btn{
    font-size: larger;
    font-weight: 600;
}